* {
  box-sizing: border-box;
}
h1,
ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  list-style: none;
}
body {
  font-family: roboto, sans-serif;
  color: var(--brand-black);
  margin: 0 auto;
}

:root {
  --brand-blue: rgb(33, 150, 243);
  --brand-black: rgb(33, 33, 33, 1);
  --brand-grey: rgb(117, 117, 117);
  --brand-background-dark: rgba(47, 48, 58, 1);
  --just-black: rgb(0, 0, 0);
  --just-white: rgb(255, 255, 255);
  --brand-lightgrey: rgba(175, 177, 184, 1);
  --brand-grey-white: rgba(245, 244, 250, 1);
}
/*  HEADER */

.top-background {
  border-bottom: 1px solid rgb(236, 236, 236);
  /* height: 80px; */
}
.header-flex {
  display: flex;
  align-items: center;
  /* justify-content: space-between;
  align-content: center; */
  padding-top: 24px;
  padding-bottom: 25px;
  /* padding-left: 15px; */
}
.header-nav-flex {
  display: flex;
  /* align-items: center;
  align-content: center; */
  justify-content: space-between;
  gap: 46px;
  width: 261px;
  margin-right: 345px;
}
.web {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--brand-blue);
  text-decoration: none;
}
.studio {
  font-family: Raleway;
  font-size: 26px;
  letter-spacing: 0.03em;
  font-weight: 700;
  line-height: 1.2;
  color: var(--just-black);
  text-decoration: none;
}
.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--brand-black);
  text-decoration: none;
}
.web-studio-header {
  text-decoration: none;
  margin-right: 93px;
  width: 145px;

  /* padding-top: 24px; */
}

.tell-mailto {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.1;
  color: var(--brand-grey);
  text-decoration: none;
}
.tell-mailto:hover,
.tell-mailto:focus,
.link:hover,
.link:focus {
  color: var(--brand-blue);
}

.gap-between-header {
  margin-left: 30px;
}

.icon-header {
  fill: var(--brand-grey);
  margin-right: 10px;
}
.icon-header:hover,
.icon-header:focus {
  fill: var(--brand-blue);
  /* stroke: var(--brand-blue); */
  cursor: pointer;
}

.site-nav {
  display: flex;
  align-items: center;
  justify-items: center;
}

/* SECTION with button */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-box {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/picture-background.jpg");
  padding-top: 200px;
  padding-bottom: 200px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #2f303a;
}
.title-box {
  /* max-height: 600px; */
  flex-direction: column;
  align-items: center;
  display: flex;
}
.h1 {
  /* display: block; */
  color: var(--just-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  max-width: 696px;
}

.button {
  /* display: block; */
  /* width: 200px;
  height: 50px; */
  font-family: roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* align-items: center; */
  text-align: center;
  color: var(--just-white);
  background: var(--brand-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px;
  padding: 10px 40px;
}

/*  LOREM IPSUM */

.container {
  max-width: 1200px;
  /* width: 100%; */
  margin: 0 auto;
  padding: 0 15px;
}
.loremipsum-flex {
  display: flex;
  justify-content: center;
  align-self: auto;
  gap: 30px;
  /* width: 100%; */
}

.lorem-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: var(--brand-black);
  text-align: left;
  margin-top: 0px;
  margin-bottom: 14px;
}
.lorem-content {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--brand-grey);
  text-align: left;
}

.loremipsum-icon {
  margin-bottom: 30px;
  background-color: var(--brand-grey-white);
  border-radius: 4px;
}

/* CZYM SIE ZAJMUJEMY */
.section-new {
  padding-top: 0px;
}

.section-heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--brand-black);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 50px 0;
  text-align: center;
}

.what-we-do-flex {
  display: flex;
  gap: 30px;
  text-align: center;
  justify-content: center;
}

/* NASZ ZESPOL */

.our-team-backgroundcolor {
  background-color: var(--brand-grey-white);
}

.our-team-flex {
  display: flex;
  gap: 30px;
  text-align: center;
  justify-content: center;
}
.picture {
  padding: 0;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-person {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
  display: block;
  margin: 30px 0 10px 0;
}
.team-position {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 10px 0 16px 0;
}
.our-team-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 32px 30px 32px;
  gap: 10px;
}
.company-icon {
  fill: var(--brand-lightgrey);
}
.company-icon:focus,
.company-icon:hover {
  fill: var(--just-white);
  cursor: pointer;
  background-color: var(--brand-blue);
  border-radius: 50%;
}

/* NASI KLIENCI */

.our-clients-flex {
  display: flex;
  gap: 30px;
}
.our-clients-border {
  border: 1px solid var(--brand-lightgrey);
  border-radius: 4px;
}
.our-clients-border:hover,
.our-clients-border:focus {
  border-color: var(--brand-blue);
  cursor: pointer;
}
.company-icons {
  fill: var(--brand-lightgrey);
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.company-icons:hover,
.company-icons:focus {
  cursor: pointer;
  fill: var(--brand-blue);
}

/* Portfolio */
.section-padd-bottom-50 {
  padding-bottom: 50px;
}
.buttonpflex {
  display: flex;
  gap: 8px;
  text-align: center;
  justify-content: center;
}

.buttonp {
  font-family: roboto;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  text-decoration-color: var(--just-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  /* background: #f5f4fa; */
  /* border-radius: 4px; */
}
.buttonp:hover,
.buttonp:focus {
  background-color: var(--brand-blue);
  color: var(--just-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-boxshadow:hover,
.portfolio-boxshadow:focus {
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
  cursor: pointer;
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* -> FOTO DESCRIPTION*/

.picturesp-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 0;
  /* align-content: space-around; */
}
.imgp {
  display: block;
}

.description-portfolio {
  padding: 20px 24px 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.proj-description {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--brand-black);
  margin: 20px 0 4px 0;
  /* margin-bottom: 4px; */
}

.proj-type {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--brand-grey);
  margin-top: 4px;
}

/* FOOTER */

.footer-background {
  background-color: var(--brand-background-dark);
}
.footer {
  padding: 60px 0 60px 0px;
  display: flex;
  flex-direction: column;
}
.web-studio-footer {
  text-decoration: none;
  margin-bottom: 20px;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--just-white);
  letter-spacing: 0.03em;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.address:hover,
.address:focus {
  color: var(--brand-blue);
}
.color-gradient {
  color: rgba(255, 255, 255, 0.6);
}
.studio-white {
  font-family: Raleway;
  font-size: 26px;
  letter-spacing: 0.03em;
  font-weight: 700;
  line-height: 1.2;
  color: var(--just-white);
  text-decoration: none;
}

.join-us {
  padding: 72px 0 100px 0;
  margin-left: 70px;
  margin-top: 0px;
  /* align-self: center; */
}
.join-us-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: var(--just-white);
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 0;
}
.footer2 {
  display: flex;
  align-items: flex-start;
}
.footer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.company-icon-footer {
  fill: var(--just-white);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.company-icon-footer:hover,
.company-icon-footer:focus {
  background-color: var(--brand-blue);
  cursor: pointer;
}
