@import "./utils/variables";
@import "./utils/global";
@import "./components/billboard";
@import "./components/company";
@import "./components/footer";
@import "./components/logo";
@import "./components/loremipsum";
@import "./components/modal";
@import "./components/navigation";
@import "./components/portfolio";
@import "./components/portfoliobutton";
@import "./components/service";
@import "./components/team";
