.footer-background {
  background-color: var(--brand-background-dark);
}
.footer__contacts {
  padding: 60px 0 60px 0px;
  display: flex;
  flex-direction: column;
}
.footer {
  display: flex;
  align-items: flex-start;
}

.footer__address {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.1;
  color: var(--brand-grey);
  fill: var(--brand-grey);
  align-items: center;
  display: flex;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__address:hover,
.footer__address:focus {
  color: var(--brand-blue);
  fill: var(--brand-blue);
}

.footer__wrapper {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--just-white);
  letter-spacing: 0.03em;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__wrapper:hover,
.footer__wrapper:focus {
  color: var(--brand-blue);
}
.footer__address-color {
  color: rgba(255, 255, 255, 0.6);
}

.footer__social {
  padding: 72px 0 100px 0;
  margin-left: 70px;
  margin-top: 0px;
  /* align-self: center; */
}
.footer__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: var(--just-white);
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 0;
}

.footer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.footer__icon-item {
  fill: var(--just-white);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__icon-item:hover,
.footer__icon-item:focus {
  background-color: var(--brand-blue);
  cursor: pointer;
  border-radius: 50%;
  fill: rgb(255, 255, 255);
}

.footer__newsletter {
  width: 570px;
  margin-top: 60px;
  margin-left: 78px;
}

.footer__newsletter-header {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgb(255, 255, 255);
}

.newsletter__button {
  width: 200px;
  height: 50px;
  background: var(--brand-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  letter-spacing: 0.06em;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
}

.newsletter {
  display: flex;
}

.newsletter__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: 0;
  border-radius: 4px;
  background-color: rgb(47, 48, 58);
  margin-right: 12px;
  padding: 15px 16px;
  color: rgb(255, 255, 255);
}

.newsletter__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgb(255, 255, 255);
}

.newsletter__button--color {
  fill: white;
}

.newsletter__button:hover,
.newsletter__button:focus {
  cursor: pointer;
}
