.section {
  padding: 0;
}

.loremipsum {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 60px;
  // align-items: center;
  // justify-content: center;
}

.loremipsum__heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: $just-black;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 14px;
  text-align: center;
}
.loremipsum__content {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $brand-grey;
  text-align: left;
}

.loremipsum__icon {
  margin-bottom: 30px;
  background-color: $brand-grey-white;
  border-radius: 4px;
  // justify-content: center;
  align-self: center;
}

@media (min-width: $tablet-size) {
  .loremipsum {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 45px;
  }
}

@media (min-width: $desktop-size) {
  .loremipsum {
    margin-bottom: 94px;
    flex-wrap: nowrap;
  }
}

// .loremipsum {
//   display: flex;
//   justify-content: center;
//   align-self: auto;
//   gap: 30px;
//   margin-bottom: 94px;
//   flex-wrap: nowrap;
