.section-pddg {
  padding-top: 0px;
}

.service {
  display: flex;
  gap: 30px;
  text-align: center;
  justify-content: center;
}
.service__item {
  position: relative;
}
.service__text-position {
  position: absolute;
  top: 224px;
}
.service__text {
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  width: 370px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  justify-content: center;
}
