.section--ot-backgroundcolor {
  background-color: $brand-grey-white;
}

.team {
  display: flex;
  gap: 30px;
  text-align: center;
  justify-content: center;
}
.team__picture {
  padding: 0;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__person {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
  display: block;
  margin: 30px 0 10px 0;
}
.team__position {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 10px 0 16px 0;
}
.icon-social {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 32px 30px 32px;
  gap: 10px;
}
.icon-social__item {
  fill: $brand-lightgrey;
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-social__item:focus,
.icon-social__item:hover {
  fill: $just-white;
  cursor: pointer;
  background-color: $brand-blue;
}
