* {
  box-sizing: border-box;
}
h1,
ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  list-style: none;
}
body {
  font-family: roboto, sans-serif;
  color: var(--brand-black);
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  max-width: 1200px;
  /* width: 100%; */
  margin: 0 auto;
  padding: 0 15px;
}

.section-heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--brand-black);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 50px 0;
  text-align: center;
}
